h1 {
    color: red;
}

/*property : value */

#home-intro{
    text-align: center;

    /*border: 3px;
    border-color: black;
    border-style: solid;*/

    border: 3px solid black

}

#home-intro:hover{
    background-color: burlywood;
}

#p2{
    color: blue;
}

#nav{
    text-align: center;
    background-color: brown;
    height: 25px;
    padding-top: 5px;
    margin-bottom: 5px;
}

#nav a{
    margin: opx 5px;
    /* margin : y-axis x-axis */
    text-decoration: none;
    color: white;
}